<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="main">
		<p class="sign" align="center">Request</p>
		<form class="form1" method="POST">
			<input class="un" type="text" name="name" align="center" placeholder="Driver Name">
	    	<input class="pass" type="text" name="plateNum" align="center" placeholder="Plate Number">
	    	<input class="pass" type="text" name="requested_fuel" align="center" placeholder="Requested Fuel ">
	    	<button class="submit" type="submit" align="center"class="btn btn-primary btn-block btn-large">Add</button>
		<form/>
	</div>
</body>
</html>

     