<!DOCTYPE html>
<html>
<head>
	<title>Tables</title>

	
	<link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	

</head>
<body>
	<div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            	{% for user in userDetails %}
               
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                </tr>
               
                <tr>
                    <td>{{user[0]}}</td>
                    <td>{{user[1]}}</td>
                    <td>{{user[2]}}</td>>
                </tr>
               
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>>